.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.inset-0 {
  inset: 0px
}

.-right-1 {
  right: -8rpx
}

.-top-1 {
  top: -8rpx
}

.bottom-0 {
  bottom: 0px
}

.bottom-8 {
  bottom: 64rpx
}

.left-0 {
  left: 0px
}

.right-0 {
  right: 0px
}

.z-30 {
  z-index: 30
}

.z-50 {
  z-index: 50
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.-ml-2 {
  margin-left: -16rpx
}

.mb-1 {
  margin-bottom: 8rpx
}

.mb-2 {
  margin-bottom: 16rpx
}

.mb-3 {
  margin-bottom: 24rpx
}

.mb-4 {
  margin-bottom: 32rpx
}

.mb-6 {
  margin-bottom: 48rpx
}

.ml-1 {
  margin-left: 8rpx
}

.mr-8 {
  margin-right: 64rpx
}

.mt-1 {
  margin-top: 8rpx
}

.mt-10 {
  margin-top: 80rpx
}

.mt-2 {
  margin-top: 16rpx
}

.mt-3 {
  margin-top: 24rpx
}

.mt-4 {
  margin-top: 32rpx
}

.mt-5 {
  margin-top: 40rpx
}

.mt-6 {
  margin-top: 48rpx
}

.mt-auto {
  margin-top: auto
}

.block {
  display: block
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.h-1 {
  height: 8rpx
}

.h-10 {
  height: 80rpx
}

.h-11 {
  height: 88rpx
}

.h-12 {
  height: 96rpx
}

.h-14 {
  height: 112rpx
}

.h-16 {
  height: 128rpx
}

.h-3 {
  height: 24rpx
}

.h-4 {
  height: 32rpx
}

.h-5 {
  height: 40rpx
}

.h-6 {
  height: 48rpx
}

.h-8 {
  height: 64rpx
}

.h-full {
  height: 100%
}

.min-h-screen {
  min-height: 100vh
}

.w-10 {
  width: 80rpx
}

.w-12 {
  width: 96rpx
}

.w-16 {
  width: 128rpx
}

.w-3 {
  width: 24rpx
}

.w-4 {
  width: 32rpx
}

.w-5 {
  width: 40rpx
}

.w-6 {
  width: 48rpx
}

.w-8 {
  width: 64rpx
}

.w-full {
  width: 100%
}

.min-w-0 {
  min-width: 0px
}

.max-w-md {
  max-width: 896rpx
}

.flex-1 {
  flex: 1 1 0%
}

.shrink-0 {
  flex-shrink: 0
}



@keyframes spin {
  to {
    transform: rotate(360deg)
  }
}

.animate-spin {
  animation: spin 1s linear infinite
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr))
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-2 {
  gap: 16rpx
}

.gap-3 {
  gap: 24rpx
}

.gap-4 {
  gap: 32rpx
}

.gap-5 {
  gap: 40rpx
}

.overflow-hidden {
  overflow: hidden
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.whitespace-nowrap {
  white-space: nowrap
}

.rounded {
  border-radius: 8rpx
}

.rounded-2xl {
  border-radius: 32rpx
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 16rpx
}

.rounded-md {
  border-radius: 12rpx
}

.rounded-xl {
  border-radius: 24rpx
}

.rounded-t-3xl {
  border-top-left-radius: 48rpx;
  border-top-right-radius: 48rpx
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-b {
  border-bottom-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-t {
  border-top-width: 1px
}

.border-none {
  border-style: none
}



















.bg-transparent {
  background-color: transparent
}



.p-1 {
  padding: 8rpx
}

.p-2 {
  padding: 16rpx
}

.p-4 {
  padding: 32rpx
}

.p-5 {
  padding: 40rpx
}

.p-6 {
  padding: 48rpx
}

.px-1 {
  padding-left: 8rpx;
  padding-right: 8rpx
}

.px-2 {
  padding-left: 16rpx;
  padding-right: 16rpx
}

.px-3 {
  padding-left: 24rpx;
  padding-right: 24rpx
}

.px-4 {
  padding-left: 32rpx;
  padding-right: 32rpx
}

.px-5 {
  padding-left: 40rpx;
  padding-right: 40rpx
}

.px-6 {
  padding-left: 48rpx;
  padding-right: 48rpx
}

.py-1 {
  padding-top: 8rpx;
  padding-bottom: 8rpx
}

.py-10 {
  padding-top: 80rpx;
  padding-bottom: 80rpx
}

.py-2 {
  padding-top: 16rpx;
  padding-bottom: 16rpx
}

.py-20 {
  padding-top: 160rpx;
  padding-bottom: 160rpx
}

.py-3 {
  padding-top: 24rpx;
  padding-bottom: 24rpx
}

.py-5 {
  padding-top: 40rpx;
  padding-bottom: 40rpx
}

.pb-12 {
  padding-bottom: 96rpx
}

.pb-2 {
  padding-bottom: 16rpx
}

.pb-3 {
  padding-bottom: 24rpx
}

.pb-32 {
  padding-bottom: 256rpx
}

.pb-4 {
  padding-bottom: 32rpx
}

.pb-40 {
  padding-bottom: 320rpx
}

.pb-6 {
  padding-bottom: 48rpx
}

.pb-8 {
  padding-bottom: 64rpx
}

.pt-16 {
  padding-top: 128rpx
}

.pt-2 {
  padding-top: 16rpx
}

.pt-3 {
  padding-top: 24rpx
}

.pt-4 {
  padding-top: 32rpx
}

.text-center {
  text-align: center
}

.align-top {
  vertical-align: top
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.text-2xl {
  font-size: 48rpx;
  line-height: 64rpx
}

.text-base {
  font-size: 32rpx;
  line-height: 48rpx
}

.text-lg {
  font-size: 36rpx;
  line-height: 56rpx
}

.text-sm {
  font-size: 28rpx;
  line-height: 40rpx
}

.text-xl {
  font-size: 40rpx;
  line-height: 56rpx
}

.text-xs {
  font-size: 24rpx;
  line-height: 32rpx
}

.font-bold {
  font-weight: 700
}

.font-light {
  font-weight: 300
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.leading-none {
  line-height: 1
}

.leading-relaxed {
  line-height: 1.625
}

.leading-snug {
  line-height: 1.375
}

.tracking-tight {
  letter-spacing: -0.025em
}

.tracking-wide {
  letter-spacing: 0.025em
}











.opacity-60 {
  opacity: 0.6
}






.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}
