.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.-right-1 {
  right: -8rpx
}

.-top-1 {
  top: -8rpx
}

.bottom-0 {
  bottom: 0px
}

.right-0 {
  right: 0px
}

.-ml-2 {
  margin-left: -16rpx
}

.mb-1 {
  margin-bottom: 8rpx
}

.mb-2 {
  margin-bottom: 16rpx
}

.mb-4 {
  margin-bottom: 32rpx
}

.mb-6 {
  margin-bottom: 48rpx
}

.ml-1 {
  margin-left: 8rpx
}

.mr-8 {
  margin-right: 64rpx
}

.mt-1 {
  margin-top: 8rpx
}

.mt-10 {
  margin-top: 80rpx
}

.mt-2 {
  margin-top: 16rpx
}

.mt-4 {
  margin-top: 32rpx
}

.mt-5 {
  margin-top: 40rpx
}

.mt-auto {
  margin-top: auto
}

.block {
  display: block
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.h-1 {
  height: 8rpx
}

.h-10 {
  height: 80rpx
}

.h-11 {
  height: 88rpx
}

.h-16 {
  height: 128rpx
}

.h-3 {
  height: 24rpx
}

.h-4 {
  height: 32rpx
}

.h-5 {
  height: 40rpx
}

.h-6 {
  height: 48rpx
}

.h-8 {
  height: 64rpx
}

.h-9 {
  height: 72rpx
}

.h-full {
  height: 100%
}

.min-h-screen {
  min-height: 100vh
}

.w-10 {
  width: 80rpx
}

.w-16 {
  width: 128rpx
}

.w-3 {
  width: 24rpx
}

.w-5 {
  width: 40rpx
}

.w-6 {
  width: 48rpx
}

.w-8 {
  width: 64rpx
}

.w-px {
  width: 1px
}

.min-w-0 {
  min-width: 0px
}

.flex-1 {
  flex: 1 1 0%
}

.shrink-0 {
  flex-shrink: 0
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr))
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-2 {
  gap: 16rpx
}

.gap-3 {
  gap: 24rpx
}

.gap-4 {
  gap: 32rpx
}

.overflow-hidden {
  overflow: hidden
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.whitespace-nowrap {
  white-space: nowrap
}

.rounded {
  border-radius: 8rpx
}

.rounded-2xl {
  border-radius: 32rpx
}

.rounded-full {
  border-radius: 9999px
}

.rounded-lg {
  border-radius: 16rpx
}

.rounded-md {
  border-radius: 12rpx
}

.rounded-xl {
  border-radius: 24rpx
}

.border {
  border-width: 1px
}

.border-2 {
  border-width: 2px
}

.border-b {
  border-bottom-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-t {
  border-top-width: 1px
}

.border-blue-200 {
  --tw-border-opacity: 1;
  border-color: rgb(191 219 254 / var(--tw-border-opacity, 1))
}

.border-blue-600 {
  --tw-border-opacity: 1;
  border-color: rgb(37 99 235 / var(--tw-border-opacity, 1))
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity, 1))
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity, 1))
}

.border-slate-100 {
  --tw-border-opacity: 1;
  border-color: rgb(241 245 249 / var(--tw-border-opacity, 1))
}

.border-slate-200 {
  --tw-border-opacity: 1;
  border-color: rgb(226 232 240 / var(--tw-border-opacity, 1))
}

.bg-amber-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(255 251 235 / var(--tw-bg-opacity, 1))
}

.bg-blue-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity, 1))
}

.bg-blue-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1))
}

.bg-emerald-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(236 253 245 / var(--tw-bg-opacity, 1))
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1))
}

.bg-red-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(254 242 242 / var(--tw-bg-opacity, 1))
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1))
}

.bg-slate-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity, 1))
}

.bg-transparent {
  background-color: transparent
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.p-2 {
  padding: 16rpx
}

.p-4 {
  padding: 32rpx
}

.px-2 {
  padding-left: 16rpx;
  padding-right: 16rpx
}

.px-3 {
  padding-left: 24rpx;
  padding-right: 24rpx
}

.px-4 {
  padding-left: 32rpx;
  padding-right: 32rpx
}

.px-5 {
  padding-left: 40rpx;
  padding-right: 40rpx
}

.px-6 {
  padding-left: 48rpx;
  padding-right: 48rpx
}

.py-1 {
  padding-top: 8rpx;
  padding-bottom: 8rpx
}

.py-10 {
  padding-top: 80rpx;
  padding-bottom: 80rpx
}

.py-2 {
  padding-top: 16rpx;
  padding-bottom: 16rpx
}

.py-3 {
  padding-top: 24rpx;
  padding-bottom: 24rpx
}

.py-5 {
  padding-top: 40rpx;
  padding-bottom: 40rpx
}

.pb-12 {
  padding-bottom: 96rpx
}

.pb-2 {
  padding-bottom: 16rpx
}

.pb-24 {
  padding-bottom: 192rpx
}

.pb-3 {
  padding-bottom: 24rpx
}

.pb-40 {
  padding-bottom: 320rpx
}

.pb-6 {
  padding-bottom: 48rpx
}

.pb-8 {
  padding-bottom: 64rpx
}

.pt-16 {
  padding-top: 128rpx
}

.pt-2 {
  padding-top: 16rpx
}

.pt-3 {
  padding-top: 24rpx
}

.pt-4 {
  padding-top: 32rpx
}

.text-center {
  text-align: center
}

.align-top {
  vertical-align: top
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.text-2xl {
  font-size: 48rpx;
  line-height: 64rpx
}

.text-base {
  font-size: 32rpx;
  line-height: 48rpx
}

.text-lg {
  font-size: 36rpx;
  line-height: 56rpx
}

.text-sm {
  font-size: 28rpx;
  line-height: 40rpx
}

.text-xl {
  font-size: 40rpx;
  line-height: 56rpx
}

.text-xs {
  font-size: 24rpx;
  line-height: 32rpx
}

.font-light {
  font-weight: 300
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.leading-none {
  line-height: 1
}

.leading-snug {
  line-height: 1.375
}

.tracking-tight {
  letter-spacing: -0.025em
}

.tracking-wide {
  letter-spacing: 0.025em
}

.text-amber-600 {
  --tw-text-opacity: 1;
  color: rgb(217 119 6 / var(--tw-text-opacity, 1))
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1))
}

.text-emerald-600 {
  --tw-text-opacity: 1;
  color: rgb(5 150 105 / var(--tw-text-opacity, 1))
}

.text-red-600 {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity, 1))
}

.text-slate-300 {
  --tw-text-opacity: 1;
  color: rgb(203 213 225 / var(--tw-text-opacity, 1))
}

.text-slate-400 {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity, 1))
}

.text-slate-500 {
  --tw-text-opacity: 1;
  color: rgb(100 116 139 / var(--tw-text-opacity, 1))
}

.text-slate-600 {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity, 1))
}

.text-slate-900 {
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity, 1))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.opacity-60 {
  opacity: 0.6
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
