.fixed {
  position: fixed
}

.sticky {
  position: sticky
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-6 {
  margin-top: 1.5rem
}

.block {
  display: block
}

.flex-1 {
  flex: 1 1 0%
}

.gap-4 {
  gap: 1rem
}

.border-none {
  border-style: none
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pb-24 {
  padding-bottom: 6rem
}

.pb-8 {
  padding-bottom: 2rem
}

.pt-12 {
  padding-top: 3rem
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity, 1))
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity, 1))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity, 1))
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity, 1))
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
