@font-face {
  font-family: vant-icon;
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url('../assets/fonts/vant-icon.woff2') format('woff2'),
    url('../assets/fonts/vant-icon.woff') format('woff');
}
